#web_bg {
  /* 背景图像的地址（url括号里）  */
  /* background: url('D:\图片视频\照片\pexels-matheus-bertelli-573238.jpg'); */
  /* 背景图像不重复 */
  background-repeat: no-repeat;
  /* 背景图像大小 */
  background-size: cover;
  background-color: rgb(225, 69, 223);
}
